<div class="component--product--testimonial--card">
    <div class="component--product--testimonial--card__image">
        {% if block.settings.image != blank %}
            <img 
                src="{{ block.settings.image | image_url: width: 600 }}" 
                alt="testimonial"
                width=""
                height=""
            >
        {% endif %}
    </div>

    <div class="component--product--testimonial--card__content">
        {% if block.settings.quote != blank %}
            <p class="component--product--testimonial--card__text">
                {{ block.settings.quote }}
            </p>
        {% endif %}

        {% if block.settings.signature != blank %}
            <div class="component--product--testimonial--card__signature">
                <img 
                    src="{{ block.settings.signature | image_url: width: 240 }}" 
                    alt="signature"
                    width=""
                    height=""
                >
            </div>
        {% endif %}
    </div>
</div>



<style>
.component--product--testimonial--card{
       display: flex;
    align-items: stretch;
    background: #F5F1E8;
    margin: 36px 0 0;
}

.component--product--testimonial--card__image {
    width: 160px;
    min-width: 160px;
    flex: 0 0 160px;
}

.component--product--testimonial--card__image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.component--product--testimonial--card__content{
        flex: 1;
    padding: 30px 24px 18px 31px;
    text-align: center;
}

.component--product--testimonial--card__text{
font-size: 16px;
    line-height: 24px;
    color: #433723;
    margin: 0 0 16px;
    letter-spacing: 0;
}

.component--product--testimonial--card__signature img{
    max-width:90px;
}

@media(max-width:767px){
    .component--product--testimonial--card{
        flex-direction:column;
    }

    .component--product--testimonial--card__image{
        width:100%;
        min-width:100%;
        flex:0 0 220px;
    }

    .component--product--testimonial--card__content{
        padding:24px;
    }

    .component--product--testimonial--card__text{
        font-size:24px;
    }
}
</style>