<div class="component--product--testimonial--card">
    <div class="component--product--testimonial--card__image">
        {% if block.settings.image != blank %}
            <img 
                src="{{ block.settings.image | image_url: width: 600 }}" 
                alt="testimonial"
                width=""
                height=""
            >
        {% endif %}
    </div>

    <div class="component--product--testimonial--card__content">
        {% if block.settings.quote != blank %}
            <p class="component--product--testimonial--card__text">
                {{ block.settings.quote }}
            </p>
        {% endif %}

        {% if block.settings.signature != blank %}
            <div class="component--product--testimonial--card__signature">
                <img 
                    src="{{ block.settings.signature | image_url: width: 240 }}" 
                    alt="signature"
                    width=""
                    height=""
                >
            </div>
        {% endif %}
    </div>
</div>



<style>
.component--product--testimonial--card{
    display:flex;
    align-items:center;
    background:#F5F1E8;
}

.component--product--testimonial--card__image{
    width:32%;
}

.component--product--testimonial--card__image img{
    width:100%;
    display:block;
}

.component--product--testimonial--card__content{
    width:68%;
    padding:40px;
    text-align:center;
}

.component--product--testimonial--card__text{
    font-size:32px;
    line-height:1.4;
    color:#4A3B2A;
    margin:0 0 24px;
}

.component--product--testimonial--card__signature img{
    max-width:120px;
}

@media(max-width:767px){
    .component--product--testimonial--card{
        flex-direction:column;
    }

    .component--product--testimonial--card__image,
    .component--product--testimonial--card__content{
        width:100%;
    }

    .component--product--testimonial--card__content{
        padding:24px;
    }

    .component--product--testimonial--card__text{
        font-size:24px;
    }
}
</style>