{{ 'component--tonique--banner.css' | asset_url | stylesheet_tag }}

<section class="component--tonique--banner">
  <div class="component--tonique--banner--waves">
    <img
      src="https://cdn.shopify.com/s/files/1/0820/9688/1912/files/Vector_1.svg?v=1779697574"
      alt=""
      srcset="//drinktonique.myshopify.com/cdn/shop/files/waves-tonique.svg?v=1779358677&amp;width=352 352w, //drinktonique.myshopify.com/cdn/shop/files/waves-tonique.svg?v=1779358677&amp;width=832 832w, //drinktonique.myshopify.com/cdn/shop/files/waves-tonique.svg?v=1779358677&amp;width=1031 1031w"
      width="1031"
      height="650"
      loading="eager"
    >
  </div>
  <div class="component--tonique--banner--container">
    <div class="component--tonique--content--image">
      <div class="component--tonique--content">
        <h1 class="component--tonique--heading">Beauty + Protein in one clean pouch</h1>
        <p class="component--tonique--description">
          15g of complete protein. All natural. Zero sugar. Collagen + whey. Beauty nutrients. Adaptogens. One pouch.
          Done.
        </p>
        <a href="#" class="component--tonique--button">SHOP NOW</a>
      </div>
      <div class="component--tonique--image">
        <div class="component--tonique--image_hold">
          <img
            src="https://cdn.shopify.com/s/files/1/0820/9688/1912/files/Vector_6.svg?v=1779697707"
            srcset="//drinktonique.myshopify.com/cdn/shop/files/bottle.svg?v=1779190727&amp;width=278 278w, //drinktonique.myshopify.com/cdn/shop/files/bottle.svg?v=1779190727&amp;width=400 400w, //drinktonique.myshopify.com/cdn/shop/files/bottle.svg?v=1779190727&amp;width=556 556w, //drinktonique.myshopify.com/cdn/shop/files/bottle.svg?v=1779190727&amp;width=600 600w"
            width="640"
            height="1374"
            loading="eager"
            class="hb-media__img"
            sizes="(min-width: 767px) 278px, 240px"
          >
        </div>
        <div class="component--tonique--badges">
          <div class="component--tonique--badges_circle tonique--badge-1">
            <p class="component--tonique--badges_heading">15g</p>
            <p class="component--tonique--badges_subheading">PROTEIN</p>
          </div>
          <div class="component--tonique--badges_circle tonique--badge-2">
            <p class="component--tonique--badges_heading">70</p>
            <p class="component--tonique--badges_subheading">Calories</p>
          </div>
          <div class="component--tonique--badges_circle tonique--badge-3">
            <p class="component--tonique--badges_heading">0g</p>
            <p class="component--tonique--badges_subheading">Sugar</p>
          </div>
          <div class="component--tonique--badges_circle tonique--badge-4">
            <p class="component--tonique--badges_heading">1oz</p>
            <p class="component--tonique--badges_subheading">POUCH</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Tonique Banner",
  "tag": "section",
  "class": "tonique--banner",
  "settings": [],
  "presets": [
    {
      "name": "Tonique Banner"
    }
  ]
}
{% endschema %}
