{{ 'component--tonique--banner.css' | asset_url | stylesheet_tag }}

<section class="component--tonique--banner">
    <div class="component--tonique--banner--container">
        <div class="component--tonique--content">
            <h1 class="component--tonique--heading"></h1>
            <p class="component--tonique--description"></p>
            <a href="#" class="component--tonique--button"></a>
        </div>
        <div class="component--tonique--banner--waves"></div>
        <div class="component--tonique--image">
            <div class class="component--tonique--image_hold"></div>
            <div class="component--tonique--badges">
                <div class="component--tonique--badges_circle tonique--badge-1">
                    <p class="component--tonique--badges_heading">15g</p>
                    <p class="component--tonique--badges_subheading">PROTEIN</p>
                </div>
                <div class="component--tonique--badges_circle tonique--badge-2">
                    <p class="component--tonique--badges_heading">70</p>
                    <p class="component--tonique--badges_subheading">Calories</p>
                </div>
                <div class="component--tonique--badges_circle tonique--badge-3">
                    <p class="component--tonique--badges_heading">0g</p>
                    <p class="component--tonique--badges_subheading">Sugar</p>
                </div>
                <div class="component--tonique--badges_circle tonique--badge-4">
                    <p class="component--tonique--badges_heading">1oz</p>
                    <p class="component--tonique--badges_subheading">POUCH</p>
                </div>
            </div>
        </div>
    </div>
</section>