<section class="tonique--terms--page">
  <div class="tonique--terms--page--container">
    <div class="tonique--terms--content">
      <div class="tonique--terms--head">
        <h1 class="tonique--terms--heading">TERMS</h1>
        <p class="tonique--terms--last--update">Last updated: [Insert date before launch]</p>
        <div class="tonique--terms--head--bottom">
          <p>
            Welcome to Tonique. These Terms of Service (the “Terms”) cover your use of our website at tonique.com (the
            “Site”) and any orders you place with us. By using the Site or buying from us, you’re agreeing to these
            Terms. If anything here doesn’t work for you, please don’t use the Site.
          </p>
          <p>
            We’ve tried to write this in plain language. Where we’ve had to use formal terms, we mean what they say.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Terms & Conditions",
  "settings": [
  ],
  "presets": [
    {
      "name": "Terms & Conditions"
    }
  ]
}
{% endschema %}