.product__accordion__head {
	margin-top: 32px;
}

.accordion summary {
	display: flex;
	position: relative;
	line-height: 1;
	padding: 20px 0;
    transition: background .3s ease;
}

.accordion details {
  overflow: hidden;
}

.product__accordion .accordion__content {
    padding: 0;
    margin-bottom: 24px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    margin-bottom: 0;
    transition:max-height .45s cubic-bezier(.22,.61,.36,1), opacity .3s ease, margin-bottom .3s ease;
}

.product__accordion details[open] .accordion__content {
  opacity: 1;
  margin-bottom: 24px;
}

.product__accordion .accordion__content ul {
   margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 11px;
}
.product__accordion .accordion__content li {
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    color: #433723;
    letter-spacing: 0;
    position: relative;
    padding-left: 20px;
}
.product__accordion .accordion__content li::before{
    content: "\2022";
    position: absolute;
    left: 7px;
    top: 1px;
    font-size: 14px;
}

.product__accordion .accordion__content p {
        font-size: 14px;
    line-height: 20px;
    color: #433723;
    margin: 0;
    padding: 0;
}

.accordion .summary__title {
	display: flex;
	flex: 1;
	align-items: center;
	gap: 12px;
}

.accordion .summary__title+.icon-caret {
	height: calc(var(--font-heading-scale) * 0.6rem);
	display: none;
}

.accordion+.accordion {
	margin-top: 0;
	border-top: none;
}

.accordion {
	border-top: 1px solid #433723;
	border-bottom: 1px solid #433723;
}

.summar__title__icon {
	width: 12px;
	height: 12px;
}

.accordion details[open] .summar__title__icon {
	transform: rotate(45deg);
}

.accordion__title {
	margin: 0;
    word-break: break-word;
    color: #433723;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.12px;
}

.accordion .svg-wrapper {
	align-self: center;
	fill: rgb(var(--color-foreground));
	height: calc(var(--font-heading-scale) * 2rem);
	margin-right: calc(var(--font-heading-scale) * 1rem);
	width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open]>summary .icon-caret {
	transform: rotate(180deg);
}

.accordion__content {
	margin-bottom: 1.5rem;
	word-break: break-word;
	overflow-x: auto;
	padding: 0 0.6rem;
}

.accordion__content img {
	max-width: 100%;
}


@media screen and (min-width: 767px) {
.product__accordion__head {
	margin-top: 48px;
}
.accordion__title {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.28px;
}
.product__accordion .accordion__content li, .product__accordion .accordion__content p {
    font-size: 16px;
    line-height: 24px;
}
.product__accordion .accordion__content li::before{
    font-size: 18px;
}
.product__accordion .accordion__content {
    margin-bottom: 32px;
}
}