#customFaqs {
	padding: 76px 0 160px;
}

.custom-faqs__wrapper_container {
	max-width: 1204px;
	margin: 0 auto;
	padding: 0 24px;
}

#customFaqs .custom-faqs__wrapper {
	display: flex;
	gap: 138px;
}

#customFaqs .custom-faqs__sidebar {
	width: 38.928%;
	position: sticky;
	top: 55px;
	height: fit-content;
}

.custom-faqs__sidebar_heading {
	font-family: 'Archivo';
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 2.88px;
	color: #977B4F;
	text-transform: uppercase;
	margin: 0 0 8px;
}

.custom-faqs__sidebar_content {
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0;
	color: #433723;
	font-family: 'Archivo';
	margin: 0 0 28px;
}

#customFaqs .custom-faqs__sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

#customFaqs .custom-faqs__sidebar li {
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 0;
	cursor: pointer;
	color: #433723;
	transition: .3s ease;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 1.44px;
	text-transform: uppercase;
}

#customFaqs .custom-faqs__sidebar li svg {
	width: 16px;
	height: 12px;
	opacity: 0;
	transform: translateX(-5px);
	transition: .3s ease;
	display: none;
}

#customFaqs .custom-faqs__sidebar li.active {
	color: #977B4F;
}

#customFaqs .custom-faqs__sidebar li.active svg {
	opacity: 1;
	transform: translateX(0);
	display: inherit;
}

.custom-faqs__sidebar_content_footer {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	color: #433723;
	font-family: 'Archivo';
	font-weight: 400;
	margin: 48px 0 0;
}

.custom-faqs__sidebar_content_footer a {
	color: #977B4F;
	font-style: italic;
	text-decoration: none;
}

.custom-faqs__sidebar_content_footer_mobile{
	display:none;
}

#customFaqs .custom-faqs__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 64px;
}

#customFaqs .faq-category {
	scroll-margin-top: 120px;
}

#customFaqs .faq-category h2 {
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 1.92px;
	margin: 0 0 32px;
	color: #977B4F;
	font-family: 'Archivo';
	text-transform: uppercase;
}

#customFaqs .faq-item {
	border-bottom: 1px solid #433723;
}

.faq-category .faq-item:first-of-type {
	border-top: 1px solid #433723;
}

#customFaqs .faq-item.active {
	border-color: #A88958;
}

#customFaqs .faq-question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	cursor: pointer;
	padding: 16px 0 24px;
}

#customFaqs .faq-question span:first-child {
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0;
	color: #433723;
	font-family: 'Archivo';
	font-weight: 400;
}

#customFaqs .faq-item.active span:first-child {
	color: #977B4F;
}

#customFaqs .faq-question span:last-child {
	transition: .3s ease;
	font-size: 22px;
	line-height: 1;
}

#customFaqs .faq-item .faq-question span svg.faq--minus--icon {
	display: none;
}


#customFaqs .faq-item.active .faq-question span svg.faq--plus--icon {
	display: none;
}

#customFaqs .faq-item.active .faq-question span svg.faq--minus--icon {
	display: inherit;
}

#customFaqs .faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease, padding .5s ease;
}

#customFaqs .faq-answer p {
	margin: -4px 0 0;
	padding: 0 0 24px;
	color: #433723;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	max-width: 464px;
}

#customFaqs .faq-item.active .faq-answer {
	max-height: 500px;
}

#customFaqs .custom-faqs__mobile-top {
	display: none;
}

@media(max-width:767px) {
	#customFaqs {
		padding: 40px 0 147px;
	}

	#customFaqs .custom-faqs__wrapper {
		flex-direction: column;
		gap: 30px;
	}

	.custom-faqs__sidebar_heading {
		font-size: 24px;
		line-height: 36px;
		letter-spacing: 1.92px;
	}

	#customFaqs .faq-category h2 {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1.44px;
		margin: 0 0 16px;
	}

	.custom-faqs__sidebar_content {
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 20px;
	}

	#customFaqs .custom-faqs__sidebar {
		display: none;
	}

	#customFaqs .custom-faqs__mobile-top {
		display: block;
	}

	#customFaqs .custom-faqs__mobile-dropdown select {
		width: 100%;
		padding: 12px 16px;
		border: 1px solid #DCD8CC;
		background: transparent;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.56px;
		outline: none;
		box-shadow: none;
		text-transform: uppercase;
	}

	#customFaqs .faq-category {
		display: none;
		margin-bottom: 0;
	}

	#customFaqs .faq-category.active-mobile {
		display: block;
	}

	#customFaqs .faq-question {
		padding: 16px 0;
	}

	#customFaqs .faq-question span:first-child {
		font-size: 16px;
		line-height: 24px;
	}

	.custom-faqs__sidebar_content_footer {
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	.custom-faqs__sidebar_content_footer_mobile{
		display: initial;
	}

}