.tonique--terms--page {
    padding: 40px 0 86px;
}

.tonique--terms--content strong{
    font-weight:600;
    color:#433723;
}

.tonique--terms--content a{
    font-weight: 600;
    color: #977b4f;
    text-decoration: none;
    font-family: 'Archivo';
}

.tonique--terms--content a:hover{
    text-decoration:underline;
}

.tonique--terms--page--container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 24px;
}

.tonique--terms--head {
    padding-bottom: 48px;
    margin-bottom: 40px;
    border-bottom: 1px solid #DCD8CC;
}

.tonique--terms--heading {
font-size: 24px;
    line-height: 36px;
    letter-spacing: 1.9px;
    margin: 0 0 8px;
    color: #977b4f;
}

.tonique--terms--last--update {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #433723;
    font-family: 'Archivo';
    font-weight: 400;
    margin: 0 0 24px;
}

.tonique--terms--description {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.tonique--terms--block h2 {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #433723;
    font-family: Archivo;
    margin: 0 0 12px;
    letter-spacing: 1.44px;
}

.tonique--terms--description p, .tonique--terms--block ul li, .tonique--terms--head--bottom p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Archivo';
    font-weight: 400;
    color: #433723;
    margin: 0 0 20px;
}

.tonique--terms--description p:last-child, .tonique--terms--head--bottom p:last-child {
    margin: 0;
}

.tonique--terms--block ul {
    margin: 0 0 16px;
    padding-left: 24px;
}



@media screen and (min-width: 767px) {
    .tonique--terms--page {
        padding: 76px 0 160px;
    }

    .tonique--terms--head {
        margin-bottom: 48px;
    }

    .tonique--terms--heading {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 3.20px;
    }

    .tonique--terms--last--update {
        font-size: 18px;
        line-height: 28px;
    }
    .tonique--terms--description p, .tonique--terms--block ul li, .tonique--terms--head--bottom p {
        font-size: 16px;
        line-height: 24px;
        margin: 0 0 16px;
    }
    .tonique--terms--block h2 {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 16px;
        letter-spacing: 1.92px;
    }
}