.fn-section {
  padding-top: var(--pt-desktop);
  padding-bottom: var(--pb-desktop);
  display:none;
}

.fn-inner {
  max-width: 1204px;
  margin: 0 auto;
}

.fn-media {
  line-height: 0;
}

.fn-media__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.fn-content {
  padding: 48px;
}

.fn-heading {
  margin: 0 0 24px;
  font-family: Archivo, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #A88958;
  max-width: 500px;
}

.fn-text {
  max-width: 720px;
}

.fn-text p {
  margin: 0 0 24px;
  font-family: Archivo, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #433723;
}

.fn-footer {
  margin-top: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 32px;
}

.fn-name {
    margin: 0;
    font-family: Archivo, sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #433723;
    font-weight: 500;
}

.fn-role {
    margin: 0;
    font-family: Archivo, sans-serif;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #a88958;
    font-weight: 500;
}

.fn-signature {
  flex-shrink: 0;
}

.fn-signature__img {
  width: 140px;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {

  .fn-section {
    padding-top: var(--pt-mobile);
    padding-bottom: var(--pb-mobile);
    display:block;
  }

.fn-media {
    line-height: 0;
    width: 100%;
    height: 392px;
    overflow: hidden;
    display: block;
            border-top: 1px solid #977B4F;
        border-bottom: 1px solid #977B4F;
}

  .fn-content {
    padding:35px 24px 0;
  }

    .fn-heading {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 1.12px;
        margin-bottom: 14px;
        padding-right: 40px;
    }

     .fn-text p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        letter-spacing: 0;
    }

    .fn-footer {
        margin-top: 29px;
        gap: 20px;
        align-items: center;
    }

  .fn-signature__img {
    width: 104px;
  }

}